.JuniorAgeRange-content{
    text-align: center;
}

.JuniorAgeRange-content h2 {
    font-size: 2.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.815);
    margin: 20px;
}

.JuniorAgeRange-content h3 {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.644);
}

.JuniorAgeRange-options label {
    margin-right: 30px;
}