.signup-div {
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 60, 255);
}

p {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(86, 127, 241);
    margin-left: 10px;
    margin-right: 10px;
}

.signup-div button {
    font-size: 1.6rem;
    padding: 10px;
    width: 150px;
    box-shadow: 4px 10px solid rgba(0, 0, 0, 0.705);
    border-radius: 15px;
    background-color: rgba(78, 184, 255, 0.918);
    color: black;
    cursor: pointer;
}